/* MOBILE STYLING */
html{
    box-sizing: border-box;
    font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif;
    font-size: 16px;
} 

*, *:before, *:after{
    box-sizing: inherit;
}

body {
    margin: 0;
}

.content {

}

.fa-bars {
    color: white;
    margin: 5px;
}

.hide {
    display: none;
}

nav {
    display: grid;

}

nav ul {
    grid-template-columns: auto auto auto;
    list-style-type: none;
    margin-bottom: 0;
    padding :0px;
    overflow: hidden;
    background-color: #111;
}

nav li {

}

nav li a{
    color: white;
    text-align: center;
    padding: 32px;
    text-decoration: none;
}

a {
    color: white;
}

header, footer{
    color: white;
    background-color: #333;
    padding: 20px;
    margin: 0;
}

main {

}

#main-image {
    display: block;
    height: 40vw;
    width: 40vw;
    margin: auto;
    margin-top: 20px;
    border-radius: 50%;
    border-style: solid;
    border-width: 5px;
}


#about-me {
    max-width: 70%;
    margin: auto;
}

.btn{
    text-decoration: none;
    background-color: #662211;
    padding: 5px;
    border-style: solid;
    border-width: 3px;
    border-radius: 10px;
}

/* DESKTOP STYLING */

@media(min-width: 640px) {
    html{
        box-sizing: border-box;
        font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif;
        font-size: 16px;
    } 

    *, *:before, *:after{
        box-sizing: inherit;
    }

    body {
        margin: 0;
    }

    .content {

    }

    .fa-bars {
        display: none;
    }

    nav {
        position: top;
    }

    nav ul {
        list-style-type: none;
        margin: 0;
        padding :0px;
        overflow: hidden;
        background-color: #111;
    }

    nav li {
        margin: 0;
        float: left;
    }

    nav li a{
        display: block;
        color: white;
        font-size: 2vw;
        text-align: center;
        padding: 32px;
        margin: 0;
        text-decoration: none;
    }

    nav li a:hover{
        background-color: #555;
        /* -webkit-transform: translateY(5px);
        transform: translateY(5px); */
        /* zoom: 1.1; */
    }

    a {
        color: white;
    }

    header, footer{
        display: block;
        width: 100vw;
        color: whitesmoke;
        padding: 10px;
        margin: 0;
        text-align: center;
        background-color: #333;
    }

    main {
        margin: auto;
        width: 80%;
        display: flex;
        border-style: solid;
        border-radius: 20px;
    }

    #main-image {
        height: 25vw;
        width: 25vw;
        margin: 5vw;
        border-radius: 50%;
        border-style: solid;
        border-width: 5px;
    }


    #about-me {
        max-width: 700px;    
    }

    .btn{
        text-decoration: none;
        background-color: #662211;
        padding: 5px;
        border-style: solid;
        border-width: 3px;
        border-radius: 10px;
    }

} 



